@import "./Colors.scss";

.logoimg {
	width: 50px;
	height: 60px;
}

.topBarContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
	background-color: $white;
  border-bottom-width: 2px;
  border-color: $border;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 200px;
	margin-left: 10px;
}

.titleSubContainer {
	margin: 0 2px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.logo {
	font-size: 30px;
	font-weight: 999;
	color: $primary-color;
	border: 2px solid $primary-color;
	border-radius: 5px;
	padding: 0 10px;
	text-align: center;
}

.heading_title {
	font-size: 20px;
	color: $black;
}

.heading_subtitle {
	font-size: 15px;
	color: $primary-color;
	font-weight: 600;
	margin-top: -7px;
}

.bottomTabContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	padding: 10px 0;
}

.profileToggleBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popupModel {
  background-color: none;
}

.popupModelContainer {
  background-color: $white;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-color: $border;
  border-width: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-width: 0px;
}

.popUpButtons {
  background-color: $white;
  width: 95%;
  height: 40px;
  border-color: $border;
  border-width: 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popUpText {
  font-size: 16px;
  font-weight: bold;
}

.popUpIcons {
  margin-left: 5px;
}
