$white: #ffffff;
$black: #000000;
$black-light: #333333;

$primary-color: #ed1c24;
$secondary-color: #353c40;

$grey-ultralight: #f5f5f5;
$grey-lighter: #f8f8f8;
$grey-light: #b6b7b8;
$grey: #b9b9b9;
$grey-dark: #898989;
$grey-darker: #4d4f5c;
$greyYellow:#6f6f6f;

$shadow: #f5f5f5;
$active-txt: #e6ffe6;
$inactive-txt: #ffe6e6;
$green: #00ed00;
$red: #ed0000;
$border: #efefef;
$border-box: #F8F8F8
