@import "./Colors.scss";

.input_fld {
  justify-content: center;
  height: 50px;
  margin: 5px 5%;
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  font-weight: normal;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 1px;
  border-color: $border;
  flex: 1;
}

.active_fld {
  background-color: $white;
  color: $black;
}

.inactive_fld {
  background-color: $grey;
  color: $grey-darker;
}

.filterModelContainer {
  min-height: 200px;
  width: 100%;
  background-color: $white;
  padding-top: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.filterModelSub {
  background-color: $white;
  width: 95%;
}

.popUp_decorator {
  width: 35px;
  background-color: $grey-dark;
  height: 4px;
  margin-top: 10px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  text-align: center;
}


.cancel_btn {
  height: 55px;
  width: 45%;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 5px;
  text-align: center;
  background-color: $white;
}

.submit_btn {
  height: 55px;
  width: 45%;
  background-color: $primary-color;
  border: 1px solid $border;
  border-radius: 5px;
  text-align: center;
}

.form_btn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.rnp_container {
  justify-content: center;
  margin: 0 4%;
  width: 92%;
  height: 50px;
  border-color: $border;
  border-radius: 5px;
  border-width: 1px;
}


.filter_dates_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 4%;
  width: 92%;

}

.filter_dates {
  width: 48%;
  border-color: $border;
  background-color: $white;
  border-width: 1px;
  max-height: 45px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.calender_image {
  margin-top: 5px;
}

.filter_dates_text {
  font-size: 14px;
  text-align: center;
  color: $grey-darker
}

.action_buttons {
  width: 45%;
  border-color: #8F9EB717;
  border-width: 3px;
  height: 45px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.action_button {
  min-width: 95%;
  border-color: #8F9EB717;
  border-width: 3px;
  height: 45px;
  margin: 10px 2.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.action_buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.submit_btn {
  background-color: $primary-color;
}

.submit_btn_text {
  color: $white;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}



.cancel_btn_text {
  color: $blue;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}

.datePickerContainer {
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 3%;
}

.datePickerBtns {
  width: 60px;
  height: 40px;
  background-color: $primary-color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datePickerBtnText {
  font-size: 15px;
  color: $white;
  font-weight: bold;
  text-align: center;
}

.dateSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datePicker {
  margin-top: 30px;
}

.continue_btn {
  width: 90%;
  background-color: $primary-color;
  border-radius: 15px;
  height: 50px;
  margin: 2% 5%;
}

.cancel_full_btn {
  width: 90%;
  background-color: $white;
  border-radius: 15px;
  height: 50px;
  margin: 0 5%;

}

.close_full_btn {
  width: 95%;
  background-color: $white;
  border-radius: 10px;
  height: 50px;
  margin: 1% 2.5%;
  border-color: $border;
  border-width: 2px;
}

.button_active {
  border-width: 1px;
  background-color: $primary-color;
  border-color: $border;
  border-radius: 5px;
  margin-left: 20px;
  padding: 15px;
}

.button_text {
  font-size: 16px;
  align-items: center;
  align-self: center;
  margin-top: 5px;
  color: $white;
}

.text_area {
  justify-content: center;
  margin: 5px 20px 5px 20px;
  border-color: $border;
  border-radius: 3px;
  border-width: 2px;
  padding-left: 15px;
  font-size: 14px;
}
