@import './Colors.scss';

.container{ 
  background-color: $white;
  height: 100%;
 }

 .subContainer{
  background-color: $white;
  padding: 25px 0;
 }

.inputField {
  width: 90%;
  margin: 2% 5%;
}

.header {
  background-color: $white;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header_text{
  font-size: 20px;
  font-weight: bold;
  color: $black;
}

.submitBtn {
  border-radius: 5px;
  width: 90%;
  margin: 1% 5%;
  background-color: $primary-color;
}

.changeBtn {
  border-radius: 5px;
  width: 90%;
  margin: 1% 5%;
}

.profileImgView {
height: 95px;
width: 90px;
border-radius: 50px;
border-color: $grey;
border-width: 2px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 5px;
}

.profileImg {
height: 70px;
width: 70px;
}

.profileView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;
}
.profileSubView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.normalText{
  color: $grey-dark;
  font-size: 16px;
}

.boldText{
  color: $black;
  font-size: 16px;
}

.highText {
  color: $primary-color;
  font-size: 20px;
  font-weight: bold;
}
